//FORMS
.form-group {
    display: flex;
    margin: 0.5rem;

    label {
        color: $celeste;
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .input {
        background-color: $celeste;
        border-radius: 8px;
        height: 37.33px;

        &.uno {
            max-width: 250px;
        }

        &.dos {
            max-width: 40px;
        }
    }
}

//BOTONES
.btn {
    background-color: $celeste-2 !important;
    color: $azul-2 !important;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $azul !important;
    }

    &.btn-rojo {
        background-color: $rojo !important;

        &:hover {
            background-color: $rojo-dark !important;
        }
    }

    &.mode {
        background-color: $azul !important;
        color: $celeste !important;
        width: 180px;
        padding: 30px;
        border: 1px solid $celeste;
        height: 200px;
        transform-style: preserve-3d;
        transition: 300ms;
        transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));

        .front,
        .back {
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
        }

        .back {
            transform: rotateY(180deg);
            border-radius: 0.25rem;
        }

        .mode-icon {
            svg {
                height: 50px;
                width: 50px;
            }
        }

        .mode-name {
            font-size: 26px;
        }
    }
}

//CARDS
.card {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    color: $azul-2 !important;
    background-color: $celeste !important;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));

    &:hover {
        --translate-y: -2px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
        cursor: auto;
    }

    &.flip {
        --rotate-y: 180deg;
    }

    .front {
        left: 0;
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .back {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        transform: rotateY(180deg);
        border-radius: 0.25rem;

        &.correct {
            background-color: $verde;
        }

        &.error {
            background-color: $rojo;
        }

        .answer {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
        }
    }

    .front,
    .back {
        position: absolute;
        padding: 1rem;
        backface-visibility: hidden;
    }

    .btn {
        color: $celeste !important;
        font-weight: 500;
        margin-top: 15px;
    }

    .flashcard-options {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        gap: 10px;
    }

    .flashcard-option {
        margin-top: 0.25rem;
        color: $azul;
        font-size: 0.80rem;
        gap: 15px;
        transition: .3s;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            //cursor: pointer;
            font-weight: 500;
            font-size: 1rem;
            transition: .3s;
            input {
                cursor: pointer;
            }
        }
    }
}

.mode-card {
    &:hover {
        .mode {
            --rotate-y: 180deg;
            border: 1px solid $celeste !important;
            background-color: $azul-2 !important;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    right: 0px;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $azul-2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $celeste;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
