//HEADER
.header {
    min-height: $headerHeight;
    background-color: $azul-2;
    padding: 0 1.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    color: $celeste !important;
    .enlace-logo {
        text-decoration: none;
        margin-right: 30px;
    }
    .logo {
        font-size: 30px;
        margin-bottom: 0;
        color: $celeste-2;
    }
    .botones {
        gap: 15px;
    }
    .vidas {
        gap: 5px;
        margin-left: 5px;
    }
}

//SUBHEADER
.header-sub {
    background-color: $azul;
    .btn {
        border: none;
        &:hover {
            background-color: $azul-2 !important;
            color: $celeste !important;
        }
    }
}