@import "variables.scss";
@import "./styles/header.scss";
@import "./styles/footer.scss";
@import "./styles/stats.scss";
@import "./styles/components.scss";

@font-face {
    font-family: "Dangrek";
    src: local("Dangrek"), url("./assets/fonts/Dangrek-Regular.ttf");
}

* {
    font-family: Dangrek;
}

.body {
    background-color: $celeste-2;
    margin: 0;
    min-height: calc(100vh - $footerHeight - $headerHeight);
    padding: 40px 0;
}

//INITGAME
.initMessage {
    h2,
    p {
        color: $azul-dark !important;
    }
    h2 {
        margin-bottom: 30px;
    }
    p {
        font-weight: 500;
    }
    .game-modes {
        margin-top: 30px;
        gap: 60px;
    }
}