//PALETA PRINCIPAL
$celeste: #B1D4E0;
$celeste-dark: #2E8BC0;
$azul: #145DA0;
$azul-dark: #0C2D48;

$verde: #9AEA9A;
$rojo: #EA9797;
$rojo-dark: #a45b5b;

//ALTURAS HEADER Y FOOTER
$headerHeight: 70px;
$footerHeight: 84px;